.container {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 220px;
}

.mainHeading {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blogsDiv {
  background-image: linear-gradient(
    to bottom right,
    rgb(170 191 227),
    rgb(209, 240, 184)
  );
  border-radius: 10px;
  width: 80%;
  margin-top: 36px;
  border-bottom: 1px solid #333;
  padding: 7px 26px 12px 26px;
}

.blogsReplyText {
  font-size: 14px;
  cursor: pointer;
  color: #0053ffb8;
}

.blogsCommentsDiv {
  margin-left: 20px;
  padding-left: 5px;
}

.blogsCommentsBtn {
  color: white;
  background-color: #333;
  padding: 5px;
  width: fit-content;
  border-radius: 3px;
}

.blogHeading {
  font-size: 20px;
  font-family: sans-serif;
}

.blogDiv {
  margin-top: 50px;
  line-height: 24px;
}

.blogComment {
  font-size: 18px;
  margin-top: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blogReply {
  margin-left: 6px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blogViewReplies {
  font-size: 14px;
  color: #0053ffb8;
  cursor: pointer;
  margin-top: -10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
